:root {
    --main-title-color: #212121;
    --second-title-color: #FFFFFF;
    --third-title-color: #2196f3;
    --fourth-title-color: #757575;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-title-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    margin-right: 93px;
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-part {
    color: var(--third-title-color);
}

.header {
    background-color: #fff;
    border: 1px solid #ECECEC;
}

.header-nav,
.head-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list {
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-contacts {
    display: flex;
}

.header-mail,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fourth-title-color);
}

.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
    color: var(--third-title-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--third-title-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--third-title-color);
}

.page-one {
    padding: 200px 0;
    background: #2F303A;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid black;
    background-image: linear-gradient
    (to right, rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4) 
    url(../image/office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

.page-one-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-title-color);
    margin: 0 auto 30px;
    max-width: 696px;
}

.service-order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-title-color);
    background: var(--third-title-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;

}

.our-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our-features-list {
    display: flex;                             
}

.our-features-item {
    justify-content: space-around;
    width: 270px;
    margin-right: 30px;
}

.feature {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 10px;
}

.feature-explanation {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--fourth-title-color);
}

.header-item:last-child {
    margin: 0;
}

.header-contacts-item:last-child {
    margin: 0;
}

.our-features-item:last-child {
    margin: 0;
}

.our-doing {
    padding-bottom: 94px;
}

.doing-item:not(:last-child) {
    margin-right: 30px;
}

.doing-list{
    display: flex;
}

.doing,
.our-workers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 50px;
    }

.workers {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.workers-list {
    display: flex;
    gap: 30px;
}

.workers-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.worker-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    padding-top: 30px;
    margin-bottom: 10px;
}

.worker-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--fourth-title-color);
    padding-bottom: 30px;
}

.address-item {
    color: var(--second-title-color);
}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    margin-bottom: 20px;
}

.logo-studio {
    color: var(--second-title-color);
}

.footer-address,
.footer-mail,
.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-address {
    color: var(--second-title-color);
}

.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, 0.6);
}

.footer-address:hover,
.footer-address:focus {
    color: var(--third-title-color);
}

.footer-mail:hover,
.footer-mail:focus {
    color: var(--third-title-color);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--third-title-color);
}

.one {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border-width: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}

.service-order,
.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: var(--third-title-color);
    color: var(--second-title-color);
}

.btn-site {
    display: flex;
    justify-content: center;
}

.btn:not(:last-child) {
    margin-right: 8px;
}

.btn-site {
    margin-bottom: 50px;
}

.title-progects {
    padding: 94px 0;
}

.name-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    margin-bottom: 4px;
}

.type-project {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--fourth-title-color);
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.progects-container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.progects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.progects-list .progect-item:nth-child(3n) {
    margin-right: 0;
}

.progects-list .progect-item:nth-last-child(-n+3) {
    margin-right: 0;
}

.item-box {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}